<div id='template' class='flex flex-1 flex-col bg-gray-100'>
    {# Header #}
    <div class='flex flex-col justify-center w-full xl:px-96 lg:px-32 px-16 pt-24 xl:pt-32 background-cover'>
        <div class='flex flex-1 flex-row'>
            {# Avatar #}
            <div class="flex items-center justify-center">
                <a href='/' class='relative h-24 w-24'>
                    <img class="rounded-full h-24 w-24 shadow-md" src="{{ shop.avatar }}">
                    <div class="flex absolute avatar-status h-5 w-5 rounded-full {% if shop.online.state %}accent-flavor-dark{% else %}bg-red-500{% endif %}"></div>
                </a>
            </div>

            {# Username #}
            <div class="flex flex-1 flex-col px-12 justify-center">
                <a href='/' class="no-underline text-white text-3xl font-bold">{{ shop.username }}</a>
                <a class="no-underline text-white">An online shop</a>
            </div>

            {# Feedback #}
            <div class="flex flex-col m-3">
                <a class='text-white mb-3 text-sm' href='/feedbacks'>
                    Feedbacks
                    <i class='fa fa-chevron-right text-2xs ml-1'></i>
                </a>
                <div class="flex flex-col lg:flex-row">
                    <div class='flex flex-col justify-center mb-3 lg:mb-0 lg:mr-6'>
                        <span class='text-gray-600 text-sm mb-1'>Positive</span>
                        <div class='flex flex-row'>
                            <span class='text-white mr-3 text-xs'>{{ shop.score.positive }}</span>
                            <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.positive }}%</span>
                                <div class='flex bg-green-500 rounded' style='width: {{ shop.statistics.positive }}%;'></div>
                            </div>
                        </div>
                    </div>

                    <div class='flex flex-col justify-center mb-3 lg:mb-0 lg:mr-6'>
                        <span class='text-gray-600 text-sm mb-1'>Neutral</span>
                        <div class='flex flex-row'>
                            <span class='text-white mr-3 text-xs'>{{ shop.score.neutral }}</span>
                            <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.neutral }}%</span>
                                <div class='flex bg-gray-400 rounded' style='width: {{ shop.statistics.neutral }}%;'></div>
                            </div>
                        </div>
                    </div>

                    <div class='flex flex-col justify-center'>
                        <span class='text-gray-600 text-sm mb-1'>Negative</span>
                        <div class='flex flex-row'>
                            <span class='text-white mr-3 text-xs'>{{ shop.score.negative }}</span>
                            <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.negative }}%</span>
                                <div class='flex bg-red-500 rounded' style='width: {{ shop.statistics.negative }}%;'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Product Groups #}
        <div class='flex flex-1 mt-16 xl:mt-24'>

        </div>
    </div>

    {# Products #}
    <div class='flex flex-1 px-6 bg-gray-200 justify-center'>
        <div id='product-wrapper' class='flex mt-12 flex-col md:flex-row px-12 justify-center'>
            {# Product Header #}
            <div id='product-header-wrapper' class="flex flex-col w-full md:w-full xl:w-2/4 mb-8 md:mb-0 mr-0 md:mr-8">
                <div id='product-header' class='rounded-b shadow'>
                    <div id='product-title' class="flex flex-row accent-gradient p-4 rounded-t">
                        <span class='text-white truncate text-gray-300'>{{ product.title }}</span>
                    </div>
                    <div id='product-description' class="flex flex-col bg-white text-black rounded-b p-4">
                        {{ product.description | safe }}
                    </div>
                </div>
            </div>

            {# Product Container #}
            <div id='product'></div>
        </div>
    </div>
</div>
